  <div class="container">
        <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#" onclick="window.open('http://www.facebook.com/sbssaf','new'); return false"><img src="/images/facebook_logo.png"/></a></li>
            <li role="presentation"><a href="#" onclick="window.open('http://twitter.com/SBSSAF','new'); return false"><img src="/images/twitter_logo.png"/></a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="http://www.sbs.co.kr"><img src="/images/white_logo.png" style="padding-top:10px;"/></a></h3>
      </div>
        <form role="form" action="/events/save_profile" method="post">

          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
          <input name="provider" type="hidden" value="<%=@provider%>" >
          <input name="promotion" type="hidden" value="<%=@promotion.token%>" >
          <div class="jumbotron">
        <h1><img src="/images/big_logo.png"/></h1>
        <br>
        <h2>현재 응모 달성률 <%=((@promotion.users.count.to_f)/(10.to_f)).to_f.round(0)%>%</h2>
        <h2><%if @promotion.img_url != nil && @promotion.img_url != "" && @promotion.img_url != "http://" %><img src="<%=@promotion.img_url%>"style="width:100%;"/><%else%>등록된 설명(이미지)이 없습니다.<%end%></h2>
            <%if ((Time.now - @promotion.start_time) < 0)%>
              <h2>이 프로모션은 시작되지 않았습니다.</h2>
            <%elsif (Time.now - @promotion.end_time) > 0%>
              <h2>이 프로모션은 마감되었습니다. 다른 프로모션에 응모해주시기 바랍니다.</h2>
            <%end%>
        
      </div>
      <div class="row marketing">

        <%if ((Time.now - @promotion.start_time) > 0) && ((Time.now - @promotion.end_time) < 0)%>
          <div class="col-lg-12">

            <div class="form-group">
              <h3>날짜 선택</h3><br>
              <input type="checkbox" name="firstdate" id="chk1"><label for="chk1" >20일</label><br><br>
              <input type="checkbox" name="seconddate" id="chk2"><label for="chk2">21일</label>
              <h5 style="color:#bbb">가능하신 날짜에 체크를 해주십시오. 이틀 모두 신청하실 수 있습니다.</h5>
            </div>

            <br>

            <div class="form-group">
              <h3>이름</h3>
              <input type="text" class="form-control" placeholder="이름"  style="width:150px;" name="name" id="name_field">
              <h5 style="color:#bbb">티켓 교환 시 본인 확인이 되지 않을 경우 입장이 제한될 수 있으므로 반드시 실명 기재 바랍니다.</h5>
            </div>
            <br>
            <div class="form-group form-inline">
              <h3>연락처(휴대전화 번호)</h3>
              <input type="text" class="form-control"   style="width:65px; display:inline-block;" name="phone1" id="phone_1"> - 
              <input type="text" class="form-control"   style="width:65px; display:inline-block;" name="phone2" id="phone_2"> -
              <input type="text" class="form-control"   style="width:65px; display:inline-block;" name="phone3" id="phone_3">
              <h5 style="color:#bbb">문자메시지로 모바일 티켓이 발송됩니다. 정확하게 입력해주세요.</h5>
            </div>
            <br>

            <div class="form-group form-inline">
              <h3>생년월일</h3>
              <select name="year" class="form-control">
                <%2014.downto(1915) do |x|%>
                  <option value="<%=x%>"><%=x%></option>
                <%end%>
              </select>
              년
              <select name="month" class="form-control">
                <%1.upto(12) do |x|%>
                  <option value="<%=x%>">
                    <%=x%>
                  </option>
                <%end%>
              </select>
              월
              <select name="day" class="form-control">
                <%1.upto(31) do |x|%>
                  <option value="<%=x%>">
                    <%=x%>
                  </option>
                <%end%>
              </select>일
              <h5 style="color:#bbb">본인 확인을 위해 필요한 정보입니다. 정확히 입력해주세요.</h5>
            </div>
            <br>

            <style> 
.table {
  border-radius:2px;
}
.table tr td {
  text-align:center;
  background-color:white;
  color:#9b238e;
}
.table tr th {
  text-align:center;
  background-color:#7dcef5;
}
            </style>
            <h4>개인정보 활용 내용</h4><p>(본 개인정보는 참여 내용 확인 및 경품 발송을 위한 용도로만 사용되며, 사용 후 즉시 삭제됩니다. 개인정보의 취급은 기본적으로 <a href="http://w3.sbs.co.kr/cs/customerPrivacy.do" style="color:#7dcef5; text-decoration:underline;">당사(SBS)의 개인정보취급방침</a>을 따릅니다.)</p>
            <table class="table">
              <tr>
                <th>
                  개인정보<br>수집주체
                </th>
                <th>
                  개인정보<br>이용 목적
                </th>
                <th>
                  개인정보의 항목
                </th>
                <th>
                  개인정보 보유 및<br>이용기간
                </th>
                
              </tr>
              <tr>
                <td>
                  SBS 소셜미디어팀
                </td>
                <td>
                  참여내용 확인 및 상품 발송
                </td>
                <td>
                  이름, 휴대전화번호, 생년월일
                </td>
                <td>
                  2주일
                </td>
              </tr>
        </table>
        <h5><input type="checkbox" id="terms" name="terms" > 위의 개인정보 활용 내용을 읽었으며 개인정보 제공에 동의합니다.(응모시 동의 필수)</h5>
        <br>
        <br>
            <input type="submit" class="btn btn-info" value="다음 단계로">
          </form>

        </div>


      <%end%>
      </div>

      <footer class="footer">
        <p>© SBS&SBS 소셜미디어팀</p>
      </footer>

    </div> <!-- /container -->
    <script>



$('form').submit(function () {

    // Get the Login Name value and trim it
    var name = $.trim($('#name_field').val());
    var phone_1 = $.trim($('#phone_1').val());
    var phone_2 = $.trim($('#phone_2').val());
    var phone_3 = $.trim($('#phone_3').val());
    var address_detail = $.trim($('#address_detail').val());
    var terms = document.getElementById("terms").checked;


    // Check if empty of not
    if (name === '') {
        alert('이름을 입력해주세요.');
        $('#name_field').focus();
        return false;
    }


    if (phone_1 === '') {
        alert('연락처를 입력해주세요.');
        $('#phone_1').focus();
        return false;
    }

    if (phone_2 === '') {
        alert('연락처를 입력해주세요.');
        $('#phone_2').focus();
        return false;
    }
    if (phone_3 === '') {
        alert('연락처를 입력해주세요.');
        $('#phone_3').focus();
        return false;
    }

    if (terms){
    }
    else{
      alert("개인정보 제공에 동의를 해주셔야합니다.");
      $("#terms").focus();
      return false;
    }

});


</script>

