  <div class="container">
        <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#" onclick="window.open('http://www.facebook.com/sbssaf','new'); return false"><img src="/images/facebook_logo.png"/></a></li>
            <li role="presentation"><a href="#" onclick="window.open('http://twitter.com/SBSSAF','new'); return false"><img src="/images/twitter_logo.png"/></a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="http://www.sbs.co.kr"><img src="/images/white_logo.png" style="padding-top:10px;"/></a></h3>
      </div>
        <form role="form" action="/events/save_profile" method="post">

          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
          <input name="provider" type="hidden" value="<%=@provider%>" >
          <input name="promotion" type="hidden" value="<%=@promotion.token%>" >
      <div class="jumbotron">
        <h1><img src="/images/big_logo.png"/></h1>
        <br>
        <h2>현재 응모 달성률 <%=((@promotion.users.count.to_f)/(10.to_f)).to_f.round(0)%>%</h2>
        <h2><%if @promotion.img_url != nil && @promotion.img_url != "" && @promotion.img_url != "http://" %><img src="<%=@promotion.img_url%>"/><%else%>등록된 설명(이미지)이 없습니다.<%end%></h2>
        
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
            <div class="form-group">
              <h3>이름</h3>
              <input type="text" class="form-control" placeholder="이름"  style="width:150px;" name="name" id="name_field">
              <h5 style="color:#bbb">티켓 교환 시 본인 확인이 되지 않을 경우 입장이 제한될 수 있으므로 반드시 실명 기재 바랍니다.</h5>
            </div>
            <br>
            <div class="form-group form-inline">
              <h3>연락처(휴대전화 번호)</h3>
              <input type="text" class="form-control"   style="width:65px; display:inline-block;" name="phone1" id="phone_1"> - 
              <input type="text" class="form-control"   style="width:65px; display:inline-block;" name="phone2" id="phone_2"> -
              <input type="text" class="form-control"   style="width:65px; display:inline-block;" name="phone3" id="phone_3">
            </div>
            <br>


            <div class="form-group">
            <h3>주소</h3>
            <br>
            <h5>우편번호</h5>

      <input type="text" id="pc1"  name="post1" class="form-control" style="width:100px; display:inline-block;" onclick="expandDaumPostcode()"   > - <input type="text" id="pc2"  name="post2" class="form-control" style="width:100px; display:inline-block;"onclick="expandDaumPostcode"  >
      <input type="button" onclick="expandDaumPostcode()" value="우편번호 찾기" class="btn btn-info"><br>

    <div id="wrap" style="display:none;border:1px solid; width:100%; height:300px;margin:5px 0;position:relative;-webkit-overflow-scrolling:touch;">
    <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px" onclick="foldDaumPostcode()" alt="접기 버튼">
    </div>
    <h5>주소</h5>
    <input type="text" id="addrStr" name="address" class="form-control" onclick="expandDaumPostcode()" placeholder="위쪽의 우편번호를 먼저 입력해주세요.">
      <br>
      <input type="text" id="address_detail" class="form-control"  placeholder ="상세주소" name="address_detail" id="address_detail">
              <h5 style="color:#bbb">티켓이 우편으로 발송되므로 주소를 정확히 기재해주세요.</h5>





            </div>
            <br>
            <style> 
.table {
  border-radius:2px;
}
.table tr td {
  text-align:center;
  background-color:white;
  color:#9b238e;
}
.table tr th {
  text-align:center;
  background-color:#7dcef5;
}
            </style>
            <h4>개인정보 활용 내용</h4><p>(본 개인정보는 참여 내용 확인 및 경품 발송을 위한 용도로만 사용되며, 사용 후 즉시 삭제됩니다. 개인정보의 취급은 기본적으로 <a href="http://w3.sbs.co.kr/cs/customerPrivacy.do" style="color:#7dcef5; text-decoration:underline;">당사(SBS)의 개인정보취급방침</a>을 따릅니다.)</p>
            <table class="table">
              <tr>
                <th>
                  개인정보<br>수집주체
                </th>
                <th>
                  개인정보<br>이용 목적
                </th>
                <th>
                  개인정보의 항목
                </th>
                <th>
                  개인정보 보유 및<br>이용기간
                </th>
                
              </tr>
              <tr>
                <td>
                  SBS 소셜미디어팀
                </td>
                <td>
                  참여내용 확인 및 상품 발송
                </td>
                <td>
                  이름, 휴대전화번호, 주소
                </td>
                <td>
                  2주일
                </td>
              </tr>
        </table>
        <h5><input type="checkbox" id="terms" name="terms" > 위의 개인정보 활용 내용을 읽었으며 개인정보 제공에 동의합니다.(응모시 동의 필수)</h5>
        <br>
        <br>
            <input type="submit" class="btn btn-info" value="다음 단계로">
          </form>

        </div>
      </div>

      <footer class="footer">
        <p>© SBS&SBS 소셜미디어팀</p>
      </footer>

    </div> <!-- /container -->
    <script>



$('form').submit(function () {

    // Get the Login Name value and trim it
    var name = $.trim($('#name_field').val());
    var phone_1 = $.trim($('#phone_1').val());
    var phone_2 = $.trim($('#phone_2').val());
    var phone_3 = $.trim($('#phone_3').val());
    var address_detail = $.trim($('#address_detail').val());
    var terms = document.getElementById("terms").checked;


    // Check if empty of not
    if (name === '') {
        alert('이름을 입력해주세요.');
        $('#name_field').focus();
        return false;
    }


    if (phone_1 === '') {
        alert('연락처를 입력해주세요.');
        $('#phone_1').focus();
        return false;
    }

    if (phone_2 === '') {
        alert('연락처를 입력해주세요.');
        $('#phone_2').focus();
        return false;
    }
    if (phone_3 === '') {
        alert('연락처를 입력해주세요.');
        $('#phone_3').focus();
        return false;
    }
    if (address_detail === '') {
        alert('상세주소를 입력해주세요. 티켓은 우편으로 발송되므로 주소를 정확하게 기재해주세요.');
        $('#address_detail').focus();
        return false;
    }

    if (terms){
    }
    else{
      alert("개인정보 제공에 동의를 해주셔야합니다.");
      $("#terms").focus();
      return false;
    }

});


</script>

<script>
    // 우편번호 찾기 iframe을 넣을 element
    var element = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element.style.display = 'none';
    }

    function expandDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
                // 우편번호와 주소 및 영문주소 정보를 해당 필드에 넣는다.
                document.getElementById('pc1').value = data.postcode1;
                document.getElementById('pc2').value = data.postcode2;
                document.getElementById('addrStr').value = data.address;
                // iframe을 넣은 element를 안보이게 한다.
                element.style.display = 'none';
                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분.
            // iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element.style.height = size.height + "px";
            },
            width : '100%',
            height : '100%'
        }).embed(element);

        // iframe을 넣은 element를 보이게 한다.
        element.style.display = 'block';
    }
</script>
