  <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#" onclick="window.open('http://www.facebook.com/sbssaf','new'); return false"><img src="/images/facebook_logo.png"/></a></li>
            <li role="presentation"><a href="#" onclick="window.open('http://twitter.com/SBSSAF','new'); return false"><img src="/images/twitter_logo.png"/></a></li>
          </ul>
        </nav>
        <h3 class="text-muted"><a href="http://www.sbs.co.kr"><img src="/images/white_logo.png" style="padding-top:10px;"/></a></h3>
      </div>

      <div class="jumbotron">
        <a href="/events/event_list">
          <h3>뒤로 가기</h3>
        </a>
        <br>
        <h2>참여 링크</h2>
        <p>페이스북 전용</p>
        <a href="/apply/facebook/<%=@promotion.token%>">http://snsevent.sbs.co.kr/facebook/<%=@promotion.token%></a>
        <br><br>

        <p>트위터 전용</p>
        <a href="/apply/twitter/<%=@promotion.token%>">http://snsevent.sbs.co.kr/twitter/<%=@promotion.token%></a>

      </div>
      <div class="jumbotron">
        <br>
        <h2>프로모션 수정 하기</h2>
        <br>
        <form role="form" action="/events/img_edit" method="post">
          <input type="text" class="form-control" placeholder ="제목" name="title" value="<%=@promotion.title%>">
          <br>
          <textarea placeholder="내용" name="content" style="background-color:white;" class="form-control" rows="4"><%=@promotion.content%></textarea>
          <br>
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
          <input type="hidden" name = "promotion_id" value="<%=@promotion.id%>">
          <input type="text" class="form-control" value="<%if @promotion.img_url != nil && @promotion.img_url != ""%><%=@promotion.img_url%><%else%>http://<%end%>" name="img_url">
          <input type="text" class="form-control" value="<%=@promotion.post_url%>"name="post_url">
          <br>

          시작:<input type="date" class="form-control" style="width:200px; display:inline-block;" name="start_date" value="<%=@promotion.start_time.to_s[0..9]%>">
              <select name="start_clock">
                <%0.upto(23) do |clock|%>
                  <option value="<%=clock%>"<%if @promotion.start_time.to_s[11..12].to_i == clock%>selected<%end%>>
                    <%=clock%>
                  </option>
                <%end%>
              </select>시
              <select name="start_minute">
                <%0.upto(59) do |minute|%>
                  <option value="<%=minute%>"<%if @promotion.start_time.to_s[14..15].to_i == minute%>selected<%end%>>
                    <%=minute%>
                  </option>
                <%end%>
              </select>분
              (주의, 오전오후아니라 24시까지)
              <br>
              <br>
              종료:<input type="date" class="form-control" style="width:200px; display:inline-block;" name="end_date"value="<%=@promotion.end_time.to_s[0..9]%>">
              <select name="end_clock">
                <%0.upto(23) do |clock|%>
                  <option value="<%=clock%>" <%if @promotion.end_time.to_s[11..12].to_i == clock%>selected<%end%>>
                    <%=clock%>
                  </option>
                <%end%>
              </select>시
              <select name="end_minute">
                <%0.upto(59) do |minute|%>
                  <option value="<%=minute%>"<%if @promotion.end_time.to_s[14..15].to_i == minute%>selected<%end%>>
                    <%=minute%>
                  </option>
                <%end%>
              </select>분
              (주의, 오전오후아니라 24시까지)


              <br>

          <input type="submit" class="btn btn-info" value="변경하기">
        </form>

      </div>
      <div class="row marketing">
        <div class="col-lg-12">
          <h2>참여자 목록(페이지당 100명씩 보여줌)</h2><br>
          <h3>현재 <%=@promotion.users.count%>명 신청하였습니다.</h3>
          <%= paginate @users %>

          <br>
          <table class="table table-bordered table-striped" style="color:black;">
            <tr>
              <th>
                순서
              </th>
              <th>
                이름
              </th>
              <th>
                연락처
              </th>
              <th>
                생년월일
              </th>
              <th>
                SNS
              </th>
              <th>
                응모시각
              </th>
            </tr>
            <% num = 1%>
            <%@users.each do |user|%>
              <tr>
                <td>
                  <%=num%>
                  <% num += 1%>
                </td>
                <td>
                  <%=user.name%>
                </td>
                <td>
                  <%=user.phone%>
                </td>
                <td>
                  <%=user.birth%>
                </td>
                <td>
                  <%=user.provider%>
                </td>
                <td>
                  <%=user.created_at%>
                </td>
              </tr>
            <%end%>
          </table>

          <%= paginate @users %>

        </div>
      </div>

      <footer class="footer">
        <p>© SBS&SBS 소셜미디어팀</p>
      </footer>

    </div> <!-- /container -->
